.Home-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.side-bar{
	width: 450px;
	height: 100vh;
	background-color: #1D6659;
  z-index: 2;

	.ico{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: auto;
			height: 150px;
		}
	}
}

/* Dropdown.css */
.dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.dropdown-header {
 	
  width: 80%;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 32px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
}

.dropdown-list {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  top: 50px;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.link-building{
  width: 100%;
  height: 100%;
  padding: 15px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
	


.link-building:hover {
  background-color: #D0D0D0;
}


.header-wrapper {
 width: 100%;
  display: flex;
  justify-content: center;

  a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blocks-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blocks{
  width: 90%;
  display: flex;
  justify-content: space-between;
  button{
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: solid 1px white;
      color: white;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .active{
          color: black;
          background-color: white;
          border-radius: 100%;
          
          button{
            color: black!important;
          }
  }
}

.rooms{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  .room-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .room{
      width: 100%;
      padding: 5px;
      text-align: center;
      border-bottom: solid white 1px;
      color: white;
    }
    
    a{
      width: 100%;
    }

    .active{
      background-color: white;
      .room{
        color: black !important;
      }
    }

    .settled{
      color: black;
      background-color: white;
    }
  }
}






















.blocks-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .blocks{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;

    .active{
      background-color: white;
      border-radius: 100%;
      button{
        color: black;
      }
    }

    button{
      width: 50px;
      height: 50px;
      background: transparent;
      outline: none;
      border: solid 1px white;
      color: white;
      border-radius: 100%;
    }
  }
}

.rooms{
  width: 100%;
  margin-top: 15px;

  .room-list{
    width: 100%;


    .active{
      .room{
        color: black;
        background-color: white;
      }
    }
    
    .room{
      border-bottom: solid 1px white;
      text-align: center;
      color: white;
      padding: 5px 0;
    }
  }
}










.Content-side{
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}

.header{
	width: 1000px;
	display: flex;
	justify-content: space-between;
	padding: 10px;

	.name-input{
		border: none;
		outline: none;
		padding: 10px;

		color: #9E9E9E;
		background-color: #ECECEC;
		border-radius: 20px;

	}
}

.name-input {
  padding: 5px;
  width: 300px;
}

.dropdowns {
  display: flex;
  align-items: center;
  grid-gap: 15px;
}

.dropdown-select{
		border: none;
		outline: none;
		padding: 10px;
    width: 120px;

		color: #9E9E9E;
		background-color: #ECECEC;
		border-radius: 20px;

		option{
			border-radius: 15px !important;
      padding: 5px !important;
      background-color: red;
		}
}

.Dropdown-btn-wrapper{
  position: relative;
}

.dropdown-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 120px;
  border-radius: 20px;
  color: #9E9E9E;
  background-color: #ECECEC;

}

.dropdown-btn {
  background-color: #f2f2f2;
  position: absolute;
  top: 40px;
  width: 120px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  font-weight: 300;

  left: 0;
  cursor: pointer;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  p{
    transition: 0.5s ease-in-out;
    padding: 10px;
    width: 100%;
  }

  p:hover{

    background-color: #9E9E9E;
  }
}


.dropdowns-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}


.login{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9E9E9E;
  font-size: 17px;
  font-weight: 900;
  
  cursor: pointer;

  i{
    font-weight:  900 !important;
  }
}

.offers-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .offers{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}




.lable-of{
  display: flex;
  grid-gap: 5px;
  font-size: 15px;
}

.round-checkbox {
  opacity: 0;
  position: absolute;
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-right: 10px;
  background-color: white;
}



.number-of{
  border-radius: 10px;
  padding: 0 15px;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkinside{
  width: 0;
  height: 0;
  border-radius: 100%;
}

.Free{
  color: #3498db;
  .round-checkbox:checked + .checkmark {
    background-color: #3498db;
    border-color: #3498db;
  }

  .checkmark {
    border: 2px solid #3498db;
  }

  .checkinside{
    background-color: #3498db;
  }
  
  p{
    background-color: #3498db;
  }
}

.Discuss{
  color: #F0A83B;
  .round-checkbox:checked + .checkmark {
    background-color: #F0A83B;
    border-color: #F0A83B;
  }

  .checkmark {
    border: 2px solid #F0A83B;
  }
  

  .checkinside{
    background-color: #F0A83B;
  }

  p{
    background-color: #F0A83B;
  }
}


.Booked{
  color: #803bf0;
  .round-checkbox:checked + .checkmark {
    background-color: #803bf0;
    border-color: #803bf0;
  }

  .checkmark {
    border: 2px solid #803bf0;
  }
  

  .checkinside{
    background-color: #803bf0;
  }

  p{
    background-color: #803bf0;
  }
}


.Sold{
  color: #f03b3b;
  .round-checkbox:checked + .checkmark {
    background-color: #f03b3b;
    border-color: #f03b3b;
  }

  .checkmark {
    border: 2px solid #f03b3b;
  }


  .checkinside{
    background-color: #f03b3b;
  }
  
  p{
    background-color: #f03b3b;
  }
}



.Clients{
  color: #3fb57b;
  .round-checkbox:checked + .checkmark {
    background-color: #3fb57b;
    border-color: #3fb57b;
  }

  .checkmark {
    border: 2px solid #3fb57b;
  }
  

  .checkinside{
    background-color: #3fb57b;
  }

  p{
    background-color: #3fb57b;
  }
}

.active{
  .checkinside{
    width: 10px !important;
    height: 10px !important;
  }
}




.Content-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .Content{
    width: 950px;
  }
}



.ShowWindowFlat-wrapper{
  width: 370px;
  height: 100vh;
  background-color: white;
  position: absolute;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  transition:  0.4s ease-in-out;
  *{
    transition:  0.2s ease-in-out;
  }


  

  .shortInfo{
    font-size: 14px;
    margin: 10px 0;
    color: gray;
  }

  img{
    width: 100%;
    height: auto;
    margin: 30px 0;
  }
  
  span{
    font-size:  16px;
    color: gray;
    margin: 5px 0;
  }

  .cost{
    font-size: 25px;
    font-weight: 100;
    span{
      font-size: 25px;
      font-weight: 900;
      color: black;
    }
  }

  hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: rgb(209, 209, 209);
    border: none;
  }

  .dropdown-container{
    width: 100%;
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .discount-button{
    width: 100px;
    height: 30px;
    background-color: #F0A83B;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
    border-radius: 30px;
    z-index: 5;
  }
  .coloring{
    width: 100px;
    height: 50px;
    background-color: gray;
    border-radius: 20px 20px 0 0;
    position: absolute;
  }

  .dropdown{
    width: 100px;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    position: absolute;
    margin-top: 30px;

    .discount-option{

      height: 25px;
      background-color: gray;
      color: white;
      font-size: 18px;
      font-weight: 100;
      text-align: center;
      border-bottom: solid 1px rgb(189, 189, 189);
      cursor: pointer;
    }
  }

  .btnFormBook{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 5px;

    button{
      width: 80%;
      border: none;
      outline: none;
      padding: 5px 0;
      border-radius: 35px;
      font-size: 20px;
    }

    .FormBtn{
      color: white;
      font-weight: 900;
      background-color: rgb(250, 48, 48);
    }
    .BookBtn{
      color: white;
      font-weight: 100;
      background-color: #803bf0;
    }
  }
}

.ShowWindowFlat{
  width: 80%;
  height: 95%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.disactive{
  display: none;
}

.darker{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: rgba(167, 167, 167, 0.534);
  backdrop-filter: blur(4px);
}

.upSect{
  width: 100%;
  display: flex;
  justify-content: space-between;
  h1{
    font-size: 30px;
  }
  
  button{
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    border-radius: 100%;
  }

  .locked{
    background-color: orange;
  }

  .unlocked{
    background-color: gray;
  }
}

.showBigWrap{
  width: 1000px !important;
}

.ClosedBtnFormer{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  .Ð¡loseBtn{
    width: 180px;
    border: none;
    outline: none;
    padding: 5px 0;
    border-radius: 35px;
    font-size: 20px;
    color: white;
    font-weight: 900;
    background-color: rgb(250, 48, 48);
  }
}


.nonExist{
  display: none;
}


.CloseBtn{
  background-color: #F0A83B;
  color: white;
}